<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<div class="container">
    <h1>{{title}}</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                <h2>Calendario de Junio</h2>
            </td>
            <td>
                <button type="button" class="btn btn-warning" (click)="mostrar1=!mostrar1;mostrar2=!mostrar2;mostrar3=!mostrar3"><span>{{ mostrar1 ? 'Ver festivos' : 'Ocultar festivos' }}</span></button>
            </td>
        </tr>
    </table>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">DOM.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">31</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">LUN.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">1</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MAR.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MIÉ.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">3</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">JUE.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">4</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">VIE.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">5</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SÁB.</h5>
                        <h6 class="card-subtitle mb-2 text-muted">6</h6>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h6 class="card-subtitle bg-danger text-white" [hidden]="mostrar2">Hacer<br/>mercado<br/></h6>
            </td>
            <td>

            </td>
            <td>
                <h6 class="card-subtitle bg-primary text-white" [hidden]="mostrar1">Mi<br/>cumpleaños</h6>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <h6 class="card-subtitle bg-success text-white" [hidden]="mostrar3">Hacer<br/>ejercicio<br/></h6>
            </td>
            <td>

            </td>
        </tr>
    </table>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                {{ mostrar1 ? 'Ver' : 'Ocultar' }} cumpleaños <input type="checkbox" name="mostrar1" [(ngModel)]="mostrar1">
            </td>
            <td>
                {{ mostrar2 ? 'Ver' : 'Ocultar' }} importantes <input type="checkbox" name="mostrar2" [(ngModel)]="mostrar2">
            </td>
            <td>
                {{ mostrar3 ? 'Ver' : 'Ocultar' }} deporte <input type="checkbox" name="mostrar3" [(ngModel)]="mostrar3">
            </td>
        </tr>
    </table>
</div>